<div class="container m-5">

  <h2 class="mb-4">Add a restaurant</h2>

  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: Restaurant::CATEGORIES %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

  <br>

   <div class="border-top p-2">
    <span><%= link_to "Home page", restaurants_path  %></span>
  </div>

</div>


