<div class="container m-5">

  <h2 class="mb-4">Restaurant details</h2>

  <div class="card-description">
    <div class="col-xs-12 col-sm-6 p-3" style="background-color: rgb(255, 255, 255);">
  
      <p><strong><%= @restaurant.name %></strong></p>
      <p><%= @restaurant.address %></p>
      <p><%= @restaurant.phone_number %></p>
      <p><%= @restaurant.category %></p>

    </div>

    <div class="col-xs-12 col-sm-6 p-3 mt-4" style="background-color: rgb(255, 255, 255);">
      <strong><p class="mt-4">REVIEWS</p></strong>
      <% @reviews.each do |review| %>
        <%= review.content %>
      <% end %>

      <br>
      <br>
      
    </div>

    <div class="mt-4">
      <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
    </div>
    
    <br>

    <div class="border-top p-2">
      <span><%= link_to "Home page", restaurants_path  %></span>
    </div>

  </div>
  

